body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.titlecontent{
    text-align:center;
}

.bodycontent{
    text-align:center;
}
main {
    flex: 1; 
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.header {
    background-color: #ad2a37 ;
    color: white;
    text-align: center;
    padding: 20px 0; 
    width: 100%; 
    font-size: 2.5rem
}

.footer{
    background-color: #ad2a37 ;
    color: black;
    text-align: center;
    padding: 20px 0; 
    width: 100%; 
    font-size: 1.2rem
}

.footerlink{
    color: white;

}



  .content-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-title{
    font-size: 1.25rem;
    font-weight:bold;
}

.card-body{
    font-size: 1rem;
}